<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a class="navbar-font"
                   href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span></a></li>
        </ul>
        <ul class="nav navbar-nav">
            <li><a class="navbar-font">Widget Edit</a></li>
        </ul>
        <ul class="navbar-text pull-right">
            <li class="my-li"><button class="btn btn-rem-pad" type=submit class="navbar-font"
                        ng-click="model.updateWidget(model.widget)">
                <span class="glyphicon glyphicon-ok">
                </span></button></li>
        </ul>
    </div>
</nav>
<div ng-if='model.widget.type' ng-include="'/assignment/views/widget/widget-' + model.widget.type.toLowerCase() + '.view.client.html'">
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right pull-right">
            <li><a class="navbar-font" href="#/user/{{model.userId}}"><span class="glyphicon glyphicon-user"></span></a></li>
        </ul>
    </div>
</nav>