<div ng-show="model.error" class="alert alert-danger" role="alert">
    {{model.error}}
</div>
<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="model.widget.name" type="text" class="form-control" id="name" placeholder="FullMetal"/>
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input ng-model="model.widget.text" type="text" class="form-control" id="text" placeholder="Transmutation"/>
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input ng-model="model.widget.url" type="url" class="form-control" id="url" value="https://youtu.be/8nm4chD_-Mg?t=13s"/>
        </div>
        <div class="form-group">
            <label for="size">Width</label>
            <input ng-model="model.widget.width" type="text" class="form-control" id="size" placeholder="100%"/>
        </div>
        <a class="btn btn-danger btn-block" ng-click="model.deleteWidget()">Delete</a>
    </form>
</div>