<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">
        <div class="col-xs-4 hidden-xs">
            <ul class="nav navbar-nav ">
                <li><a class="navbar-font navbar-link"
                       href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                    <span class="glyphicon glyphicon-chevron-left"></span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-header">
                <li><a class="navbar-font">Pages</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right pull-right">
                <li><a class="navbar-font" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new">
                    <span class="glyphicon glyphicon-plus"></span></a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-8">
            <ul class="nav navbar-nav">
                <li><a class="navbar-font navbar-link visible-xs"
                       href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                    <span class="glyphicon glyphicon-chevron-left"></span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-header">
                <li><a class="navbar-font">New Page</a></li>
            </ul>
            <ul class="navbar-text pull-right">
                <li class="my-li"><button class="btn btn-rem-pad" form="newPageForm" type=submit class="navbar-font"
                            ng-click="model.addPage(model.page)">
                <span class="glyphicon glyphicon-ok">
                </span></button></li>
            </ul>
        </div>
    </div>
</nav>

<div class="col-xs-4 hidden-xs scroll-overflow-y">
    <div class="row container-fluid">
        <ul class="list-group">
            <li ng-repeat="page in model.pages" class="list-group-item">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">
                    {{page.name}}
                </a>
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}" class="pull-right">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="col-xs-12 col-sm-8">

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <form class="padding-left-12" name="newPageForm" id="newPageForm" novalidate>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ng-model="model.page.name" class="form-control" id="name" name="name" placeholder="Page Name" required/>
        </div>
        <div ng-show="newPageForm.name.$invalid && newPageForm.$submitted"
             class="error">
            Page Name cannot be blank
        </div>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" ng-model="model.page.title" class="form-control" id="title" placeholder="Page Title"/>
        </div>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right pull-right">
            <li><a class="navbar-font" href="#/user/{{model.userId}}"><span class="glyphicon glyphicon-user"></span></a></li>
        </ul>
    </div>
</nav>